.panelButton:hover{
     -fx-background-color: #3b3b57;
     -fx-border-color: #fafafa;
}
.panelButton:pressed{
    -fx-background-color: #27273a;

}
.panelButton{
    -fx-text-fill: #fafafa;
    -fx-background-color: #33334c;
    -fx-font-family: sans-serif;
}
.generalButtons{
    
}
.searchBarError{
    -fx-border-color: red, red;
    -fx-border-radius:3,2;
}